{
    "extends": "airbnb-base",
    "rules": {
        "import/no-unresolved": "off",
        "eol-last": "off"
    },
    "env": {
        "es6": false,
        "jquery": true,
        "browser": true,
        "node": true
    }
}
