# Extensions to ignore
**/*.log

# OS or editor files
**/.DS_Store
**/Thumbs.db

# Dependency directories
**/node_modules/

# Excluding files from project
**/dist/

# package lock file
**/package-lock.json

#Ignore VS File
/.vs/
